 body {
    padding: 219px;
    margin: 0px;
    text-align: center;
    transition: all 0.5s;
} 
p {
    font-weight: 100;
    font-family: Arial, san-serif;
    font-size: 24px;
    color: #000000;
    transition: all 0.5s;
}
a:visited{
    color: red;
}
a{
    text-decoration: none;
    transition: all 0.5s;
    font-size: 20px;
    font-family: arial, san-serif;
    padding: 10px;
    border-radius:2px;    
    background-color:   #dfdfdf; 
}
.botao,
#botao3{
    font-family: Arial, san-serif;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    color: red;
    padding: 10px;
    background-color:  #dfdfdf;
    transition: all 0.5s;
}

.botao:hover,
#botao3:hover, a:hover {
    text-decoration: underline;
    font-style: italic;
    padding: 20px;
    background-color: black;
    color: white;
    transition: all 0.5s;
}